--
-- PostgreSQL database dump
--

\restrict RXkX8wZmhyCqYJQVMI6gqQf3vljfhuEVsfO8P92h8LnuLu0d6kC70Np8TpB5MkA

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg13+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: botuser
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'CLIENT'
);


ALTER TYPE public."Role" OWNER TO botuser;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Tenant; Type: TABLE; Schema: public; Owner: botuser
--

CREATE TABLE public."Tenant" (
    id text NOT NULL,
    nombre text NOT NULL,
    "systemPrompt" text NOT NULL,
    "woocommerceUrl" text NOT NULL,
    "consumerKey" text NOT NULL,
    "consumerSecret" text NOT NULL,
    "enabledTools" text[],
    "redisTTL" integer DEFAULT 3600 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Tenant" OWNER TO botuser;

--
-- Name: User; Type: TABLE; Schema: public; Owner: botuser
--

CREATE TABLE public."User" (
    id text NOT NULL,
    username text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role public."Role" DEFAULT 'ADMIN'::public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO botuser;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: botuser
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO botuser;

--
-- Data for Name: Tenant; Type: TABLE DATA; Schema: public; Owner: botuser
--

COPY public."Tenant" (id, nombre, "systemPrompt", "woocommerceUrl", "consumerKey", "consumerSecret", "enabledTools", "redisTTL", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: botuser
--

COPY public."User" (id, username, email, password, role, "createdAt", "updatedAt") FROM stdin;
admin001	admin	admin@admin.com	$2b$10$vfJJNHzbCe3AkAnReMmsD.ff6BSeU5T0vIaXUKgC7ShX8SgV0Iwgu	ADMIN	2026-06-22 22:05:04.387	2026-06-22 22:05:04.387
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: botuser
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
96a42728-4a2f-4f04-86a9-aa9e3e0dd39e	d2fd7b5c9bf8b8e8f156f9d167e470209b8f51dca175f7f2ba5d8fe96fa65f93	2026-06-22 21:32:10.886417+00	20260529024432_init	\N	\N	2026-06-22 21:32:10.875002+00	1
4dd3e70c-9944-428c-98b9-60216beb6da6	fbb90db6b5bab8d92228fb363f53ccb60d3bf401a006ecd61e8253be222b8d51	2026-06-22 21:59:26.75034+00	20260622215926_add_user_auth	\N	\N	2026-06-22 21:59:26.733563+00	1
\.


--
-- Name: Tenant Tenant_pkey; Type: CONSTRAINT; Schema: public; Owner: botuser
--

ALTER TABLE ONLY public."Tenant"
    ADD CONSTRAINT "Tenant_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: botuser
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: botuser
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: botuser
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: botuser
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- PostgreSQL database dump complete
--

\unrestrict RXkX8wZmhyCqYJQVMI6gqQf3vljfhuEVsfO8P92h8LnuLu0d6kC70Np8TpB5MkA

